<div class="container">
    <div class="container-pokemon"> 
        <div class="container-edge">
            <p class="container-text">{{pokemon?.type}}</p>
        </div>
        <div class="container-center">
            <p class="container-text" >{{pokemon?.name}}</p>
        </div>  
        <div class="container-edge">
            <p class="container-text">{{pokemon?.level}}</p>
        </div> 
    </div>
       <div class="container-box">
        <img [src]="pokemon?.image" alt="">
    </div>
    <div class="container-box">
        <p class="container-text">{{pokemon_to_evolution?.name}}</p>
    </div>
</div>